<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Create a Client Profile</title>
</head>
<body>

<div class = "table">
    <form method ="post">
<h1>Create a User Account</h1>
        <br>
        <label>Enter Username:</label>
               <input type="text" name="username" th:value="${username}"/>
        <br><br>
        <label>Email Address:</label>
            <input type="email" name="email" th:value="${email}"/>
        <br><br>
        <label>Password:</label>
            <input type="password" name="password">
        <label>Verify Your Password:</label>
            <input type="password" name="verifyPassword">
        <p th:text="${error}"></p>
        <br><br>
        <input type="submit" value="Create Account">
    </form>
</div>
</body>
</html>